.App {
  text-align: center;
  background-image: url("https://i0.photo.2gis.com/images/branch/0/30258560051383920_d45a_600x600.jpg");
  background-size: cover;
}

body{
  background-image: url("https://i.pinimg.com/originals/b5/a8/73/b5a873c1d1fdb4d653446eae33adce8e.jpg");
  background-size: 300px 300px;
}
